body {
    background-color: rgb(31, 31, 31);
}
#registrationForm,
#loginForm,
#userForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#registrationForm{
    display: none;
}
.form-group{
    margin-bottom: 10px;

}
label{
    display: block;
    margin-bottom: 5px;
}

input[name="firstName"],
input[name="lastName"],
input[name="date"],
input[name="email"],
input[name="password"],
input[name="confirmPassword"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
button[type="submit"],
button[type="button"]{
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    
}
button:active{
    transform: scale(0.9);
    opacity: 0.8;
}

.p,
#red {
    color: red;
}
#userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#userinfo{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#userForm {
    display: none;
   
}
